{% extends 'webapp/base.html' %}
{% block title %}Insights{% endblock %}
{% block insights_active %}active{% endblock %}
{% block body %}
{% load static %}
<!--nowy przycisk edytuj gdy user jest zalogowany-->
    <div class="post">
        {% if user.is_authenticated %}
            <a class="btn btn-secondary" href="{% url 'insights_edit' pk=post.pk %}">Edit</a>
        {% endif %}
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <a href="{% url 'insights_detail' pk=post.pk %}">
            {% if post.photo %}
                <img src="{{ post.photo.url }}" class="img-responsive">
            {% else %}
                <h3>No image to display</h3>
            {% endif %}
        </a>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}